.container{
    display: flex;
    width: 60%;
}

.columna{
    display: block;
    width: fit-content;
    margin: 20px;
}

.cuadrado{
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 20px auto;
}

.personaje{
    width: 50px;
    height: auto;
    margin: -1vh auto auto 2.5vw;
}

.personaje img{
    width: 100%;
    height: auto;
}